<h1><%= @topic.title %></h1>
<%= link_to "Edit Topic", edit_topic_path(@topic) %> |
<%= link_to "Delete Topic", @topic, method: :delete, data: { confirm: 'Are you sure you want to delete topic?' } %> |
<%= link_to "New Bookmark", new_topic_bookmark_path(@topic) %> 
<br>
<br>
<br>
<div>
  <table class="table">
    <thead>
            <tr>
            <th>Edit</th>
            <th>Delete</th>
            <th>Bookmark URL</th>
            <th>Added By</th>
            </tr>
        </thead>
<%= render @topic.bookmarks %>
      <tbody>
        <tr>
          <td><%= link_to "Edit", edit_topic_bookmark_path(@topic, bookmark) %></td>
          <td><%= link_to "Delete", topic_bookmark_path(@topic, bookmark), method: :delete, data: {confirm: 'Are you sure you want to delete bookmark?'} %></td>
          <td><%=link_to bookmark.url, bookmark.url, target: '_blank' %></td>
          <td><%= bookmark.user.email %></td>
        </tr> 
      </tbody>
  <% end %>
</div>